<ion-view view-title="EDIT NOTES">


          <ion-content>
            <div class="list card">
              <div class="item item-input">
                <input type="text" ng-model="note.title"ng-keyup="autoExpand($event)" placeholder="The Title">
              </div>
                <div class="item item-input">
                  <textarea id ="TextArea" ng-model="note.description" ng-keyup="autoExpand($event)" placeholder="The description"></textarea>
                </div>
              </div>

              <div class="padding">
                <button class="button button-block button-positive" ng-disabled="!note.title && !note.description"
                  ng-click="save()">Save</button>

          </ion-content>
</ion-view>
